@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.inputBox:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #EFD9CE;
}

.btn-outline-success:focus, .btn-outline-success:hover, .btn-outline-success:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: #EFD9CE;
}

.form-inline .form-control { 
    display: inline-block !important; 
    width: auto!important;
}

.btn-outline-success:hover {
    background: #EFD9CE; 
}

#search-button:active {
    background: #EFD9CE; 
}

.cardBackground {
    background: #FFF !important; 
    box-shadow: 0 40px 40px -20px #FFF;
}

.fixImg {
    width: 100px;
    height: 100px;
}

input{
    text-indent: 10px;
  }

.textEffect {
    font-family: 'Ubuntu', sans-serif;
    color: #3A3238;
    text-transform: uppercase; 
    font-weight: 620;
}

.btn-light:focus, .btn-light:hover {
    outline: none;
    box-shadow: none;
}

#mapid { 
    height: 546px; 
    border-radius: 3px;
} 

.navbar-text {
    margin: 0 auto;
    padding-top: 0rem !important; 
    margin-top: 0rem !important;
    font-size: 20px !important;
    font-weight: 600;
    color: #3A3238 !important;
}

.navbar {
    padding: 0rem !important;
    background: #EFD9CE !important;
    height: 44px;
    line-height: 44px;
}

#today .card h5 {
    margin: 0;
}

#today .card {
    margin: 0;
    height: 266px;
}

#today .card img {
    width: 24%;
}

#search-button {
    background: #EFD9CE;
}

.historyItem {
    background: #EFD9CE;
    color: #3A3238;
    font-weight: 620;
}

.historyItem:hover, .historyItem:focus, .historyItem:active, .historyItem:visited {
    background: #D4BAAE;
    color: #3A3238;
}

p {
    margin: 0;
    padding: 0;
}

.card-text {
    text-align: center;
} 

#mapid img {
    width: 50%;
}

.tooltipContainer {
    text-align: center;
}

body{
    zoom:100% !important;
}

.chartContainer {
    height: 220px;
}

canvas {
    height: 240px !important;
}

.chartContainer {
    height: 240px !important;
}

img {
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
  }