@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.inputBox:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #49A078;
}

.btn-outline-success:focus, .btn-outline-success:hover, .btn-outline-success:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: #49A078;
}

.form-inline .form-control { 
    display: inline-block !important; 
    width: auto!important;
}

.btn-outline-success:hover {
    background: #49A078; 
}

#search-button:active {
    background: #49A078; 
}

.cardBackground {
    background: #FFF !important; 
    box-shadow: 0 40px 40px -20px #FFF;
}

.fixImg {
    width: 100px;
    height: 100px;
}

input{
    text-indent: 10px;
  }

.textEffect {
    font-family: 'Ubuntu', sans-serif;
}

.btn-light:focus, .btn-light:hover {
    outline: none;
    box-shadow: none;
}

#mapid { 
    height: 500px; 
    border-radius: 3px;
} 

.navbar-text {
    margin: 0 auto;
    padding-top: 0rem !important; 
    margin-top: 0rem !important;
    font-size: 20px !important;
}

.navbar {
    padding: 0rem !important;
}

#today .card {
    height: 500px;
}